---
import Layout from "../../layouts/Layout.astro"
import { getEntry } from "astro:content"
import { formatDate } from "../../utils/date"
import { Image } from "astro:assets"
import Button from "../../components/Button.astro"
import Separator from "../../components/Separator.astro"

const { slug } = Astro.params

if (slug === undefined) {
  throw new Error("Slug is required")
}

const entry = await getEntry("blog", slug)

if (entry === undefined) {
  return Astro.redirect("/404")
}

const title = entry.data.title
const description = entry.data.description
const heroImage = entry.data.heroImage
const author = entry.data.author
const pubDate = entry.data.pubDate
const tags = entry.data.tags

const { Content } = await entry.render()
---

<Layout
  title={title}
  description={description}
  richLinkPreview={heroImage + ""}>
  <main
    class="relative flex w-full flex-col gap-4 overflow-x-hidden bg-node-indigo pb-8 pt-32 text-shadow-blockchain antialiased md:px-16 md:pb-16 md:pt-44 lg:pt-48">
    <div
      class="relative z-10 mx-auto hidden w-full max-w-screen-xl justify-start rounded-lg sm:flex md:px-4">
      <Button
        href="/blog"
        text="Back"
        variant="secondaryDark"
        leadingIcon="/images/icon-back.svg"
        >Back</Button
      >
    </div>
    <div 
        class="absolute inset-0 z-0 h-full bg-repeat w-full mix-blend-lighten"
        style="background-image: url('/images/hero-mesh.webp');" 
    />
    <div
      class="relative z-10 mx-auto flex w-full max-w-screen-xl justify-between rounded-lg md:px-4">
      <article
        class="format format-sm sm:format-base lg:format-lg format-blue dark:format-invert mx-auto flex w-full max-w-2xl flex-col gap-4">
        <header
          id="topSection"
          class="not-format flex flex-col gap-4">
          <Image
            src={heroImage + ""}
            alt={title}
            width={1200}
            height={630}
            class="aspect-[16/9] w-full object-cover md:rounded-lg"
            transition:name="hero"
          />
          <address class="flex items-center not-italic">
            <div
              class="inline-flex flex-row items-start gap-2 px-4 text-body-sm sm:gap-4 md:px-0 group">
              <img
                class="h-16 w-16 rounded-full group-hover:scale-110 transition-all duration-300 ease-in-out"
                src={author.image}
                alt={author.name}
              />
              <div class="flex flex-col">
                <p class="text-body-sm text-crypto-frost">
                  {author.name}
                </p>
                <p class="text-body-sm text-crypto-frost/75">
                  {author.title}
                </p>
                <p class="text-body-sm text-crypto-frost/75">
                  <time
                    datetime="2022-02-08"
                    title={formatDate(pubDate)}>
                    {formatDate(pubDate)}
                  </time>
                </p>
              </div>
            </div>
          </address>
        </header>
        <div
          class="flex h-auto w-full flex-col gap-8 rounded-2xl bg-crypto-frost p-4 md:p-16">
          <h1>
            {title}
          </h1>
          <p class="font-body text-body-md text-node-indigo">
            {description}
          </p>
          <div class="h-[1px] w-full bg-node-indigo"></div>
          <div id="content">
            <Content />
          </div>
        </div>
        <div
          class="flex w-full flex-row items-center justify-center gap-2 md:m-4">
          {
            tags.map((tag: string) => (
              <a
                href="#"
                id="tag"
                class="relative z-10 rounded-full bg-cryptowave-sky px-4 py-1 font-body text-body-sm lowercase text-shadow-blockchain hover:rotate-6 transition-all duration-300 ease-in-out">
                {tag}
              </a>
            ))
          }
        </div>
      </article>
    </div>

    <div
      class="relative z-10 mx-auto flex w-full max-w-screen-xl justify-end rounded-lg px-4">
      <Button
        href="/blog"
        text="Back"
        variant="secondaryDark"
        leadingIcon="/images/icon-back.svg"
        >Back</Button
      >
    </div>
  </main>
  <Separator
    topVector="1"
    topVectorColor="fill-node-indigo"
    bottomVector="/images/separator-bottom-1.webp"
    backgroundClasses="mix-blend-lighten opacity-50"
    backgroundColor="bg-decentralized-coral"
  />
</Layout>
<style is:global>
  #content p,
  #content li {
    font-size: 1rem;
    line-height: 170%;
    font-weight: 500;
    color: rgba(21, 0, 46, 1);
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Panamera", sans-serif;
    line-height: 120%;
    font-weight: 600;
    color: rgba(40, 51, 139, 1);
  }

  h1 {
    font-size: 2.8rem;
    @media (max-width: 768px) {
      font-size: 1.8rem;
    }
  }

  h2 {
    font-size: 2rem;
    @media (max-width: 768px) {
      font-size: 1.6rem;
    }
  }

  h3 {
    font-size: 1.6rem;
    @media (max-width: 768px) {
      font-size: 1.4rem;
    }
  }

  h4 {
    font-size: 1.2rem;
    @media (max-width: 768px) {
      font-size: 1.2rem;
    }
  }

  h5 {
    font-size: 1rem;
    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }
  #content a, #content a * {
    text-decoration: underline;
  }
</style>
