---
const title = "Meet the Team!";
const description =
  "We’re an experienced team of builders with over 5 years of experience running institutional grade infrastructure for Fortune 100 companies.<br><br>Through sustainable staking, self healing nodes and exotic server locations we're leading the industry to build more diversified and green node infrastructure.";
const team = [
  {
    name: "Drew",
    title: "Node Ops & Protocol Director",
    image: "/images/team-drew.webp",
  },
  {
    name: "Clay",
    title: "Business Operations & Marketing",
    image: "/images/team-clay.webp",
  },
  {
    name: "Anon Axolotl",
    title: "Node Ops Director",
    image: "/images/team-anon.webp",
  },
];
---

<section
  id="teamSection"
  class="w-full relative bg-decentralized-coral overflow-hidden flex flex-col items-center justify-start px-4 py-8 md:p-16 box-border gap-8 text-shadow-blockchain"
>
  <img
    class="absolute w-full bottom-0 overflow-hidden shrink-0 object-cover z-0 mix-blend-screen"
    alt=""
    src="/teamsectiontechgrid.svg"
  />
  <h2
    class="relative font-title text-h2 text-shadow-blockchain inline-block z-10"
  >
    {title}
  </h2>
  <img
    class="relative w-192 h-auto object-cover z-10"
    loading="lazy"
    alt=""
    src="/images/team-image.webp"
  />
  <div
    class="flex flex-col md:flex-row items-start justify-center z-10 gap-4 lg:gap-16"
  >
    <div
      class="w-full md:w-128 rounded bg-axol-coral flex flex-col items-center justify-center p-4 md:p-12 border-b-6 border-solid border-cryptowave-sky"
    >
      <p class="font-body text-body-sm md:text-body-md">
        <Fragment set:html={description} />
      </p>
    </div>
    <div
      class="flex flex-row flex-wrap md:flex-col items-start justify-center gap-4"
    >
      {
        team.map((member) => (
          <div class="group w-full sm:w-auto md:w-full flex flex-col md:flex-row content-start md:items-center justify-start gap-2">
            <img
              class="h-24 w-24 relative object-cover group-hover:scale-110 transition-all duration-300"
              loading="lazy"
              alt={member.name}
              src={member.image}
            />
            <div class="w-full sm:w-auto md:w-full rounded-full bg-axol-coral box-border flex flex-col items-start justify-start py-4 px-6 md:py-6 md:px-8 min-w-52 border-b-6 border-solid border-cryptowave-sky gap-0 group-hover:bg-cryptowave-sky transition-all duration-300">
              <h2 class="font-title text-h5 group-hover:text-crypto-frost transition-all duration-300">
                {member.name}
              </h2>
              <div class="font-body text-body-sm group-hover:text-crypto-frost transition-all duration-300">
                {member.title}
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
