---
const useCases = [
  {
    title: "VCs",
    description:
      "Strategically maximize potential upside with our discreet airdrop farming packages designed specifically for incentivized testnets.",
    image: "/images/use-case-icon-1.svg",
    span: "md:col-span-3",
    imageSize: "w-16 h-16 md:w-24 md:h-24",
  },
  {
    title: "Retail",
    description:
      "Perform non-custodial staking through token delegation to our validators.",
    image: "/images/use-case-icon-2.svg",
    span: "md:col-span-2",
    imageSize: "w-16 h-16",
  },
  {
    title: "Bitcoin Miners",
    description:
      "Seamlessly earn yield on staked Bitcoin through our innovative solutions.",
    image: "/images/use-case-icon-3.svg",
    span: "md:col-span-2",
    imageSize: "w-16 h-16",
  },
  {
    title: "Protocol Foundations",
    description:
      "Diversify & strengthen your validator set by leveraging our carbon-neutral infra in LATAM.",
    image: "/images/use-case-icon-4.svg",
    span: "md:col-span-3",
    imageSize: "w-16 h-16 md:w-24 md:h-24",
  },
];
---

<section
  id="useCasesSection"
  class="w-full h-auto md:h-screen relative bg-node-indigo overflow-hidden flex flex-col items-center justify-center py-8 md:py-16 px-4 md:px-16 gap-6 max-w-full text-center text-crypto-frost"
>
  <img
    class="w-full absolute bottom-0 overflow-hidden shrink-0 object-cover mix-blend-screen z-0"
    alt="Mesh background for use cases section"
    src="/images/usecases-mesh.webp"
  />

  <h2 class="relative font-title text-mobile-h2 md:text-h2 z-10">Use Cases</h2>
  <div
    class="grid md:auto-rows-auto grid-cols-1 md:grid-cols-5 gap-6 max-w-192 z-10"
  >
    {
      useCases.map((useCase) => (
        <div
          class={`row-span-1 ${useCase.span} transition-all duration-300 shadow-input bg-shadow-blockchain hover:bg-cryptowave-sky justify-between flex flex-col border-b-8 border-cryptowave-sky rounded p-8 group hover:scale-105`}
        >
          <div class="justify-between items-start gap-4 md:gap-8 flex flex-row">
            <div class="flex-col justify-start items-start gap-2 inline-flex">
              <h3 class="text-crypto-frost font-title text-mobile-h3 md:text-h5 text-left">
                {useCase.title}
              </h3>
              <p class="text-cryptowave-sky group-hover:text-crypto-frost transition-all duration-300 font-body text-body-sm text-left">
                {useCase.description}
              </p>
            </div>
            <img
              class={`${useCase.imageSize} group-hover:mix-blend-plus-lighter group-hover:scale-110  transition-all duration-300`}
              src={useCase.image}
              alt={useCase.title}
            />
          </div>
        </div>
      ))
    }
  </div>
</section>
