---
const useCases = [
  {
    title: "VCs",
    description:
      "Strategically maximize potential upside with our discreet airdrop farming packages designed specifically for incentivized testnets.",
    image: "/src/images/use-case-icon-1.svg",
  },
  {
    title: "Retail",
    description:
      "Perform non-custodial staking through token delegation to our validators.",
    image: "/src/images/use-case-icon-2.svg",
  },
  {
    title: "Bitcoin Miners",
    description:
      "Seamlessly earn yield on staked Bitcoin through our innovative solutions.",
    image: "/src/images/use-case-icon-3.svg",
  },
  {
    title: "Protocol Foundations",
    description:
      "Diversify & strengthen your validator set by leveraging our carbon-neutral infra in LATAM.",
    image: "/src/images/use-case-icon-4.svg",
  },
];
---

<section
  id="useCasesSection"
  class="w-full relative bg-node-indigo overflow-hidden flex flex-col items-center justify-center py-16 px-0 md:px-16 gap-6 max-w-full text-center text-crypto-frost"
>
  <img
    class="absolute bottom-0 max-w-full overflow-hidden shrink-0 object-cover mix-blend-screen z-0"
    alt=""
    src="/bg-mesh-4@2x.png"
  />

  <h2 class="relative font-title text-h2 z-10">Use Cases</h2>
  <div
    class="grid md:auto-rows-auto grid-cols-1 md:grid-cols-5 gap-6 max-w-192 mx-auto z-10"
  >
    <div
      class="row-span-1 md:col-span-3 hover:shadow-xl transition-all duration-200 shadow-input bg-shadow-blockchain justify-between flex flex-col border-b-8 border-cryptowave-sky rounded-lg p-8"
    >
      <div class="justify-between items-start gap-4 md:gap-8 flex flex-row">
        <div class="flex-col justify-start items-start gap-2 inline-flex">
          <h3 class="text-crypto-frost font-title text-h5 text-left">
            {useCases[0].title}
          </h3>
          <p class="text-cryptowave-sky font-body text-body-sm text-left">
            {useCases[0].description}
          </p>
        </div>
        <img class="w-16 h-16 md:w-24 md:h-24" src={useCases[0].image} />
      </div>
    </div>
    <div
      class="row-span-1 md:col-span-2 hover:shadow-xl transition-all duration-200 shadow-input bg-shadow-blockchain justify-between flex flex-col border-b-8 border-cryptowave-sky rounded-lg p-8"
    >
      <div class="justify-between items-start gap-2 flex flex-row">
        <div class="flex-col justify-start items-start gap-2 inline-flex">
          <h3 class="text-crypto-frost font-title text-h5 text-left">
            {useCases[1].title}
          </h3>
          <p class="text-cryptowave-sky font-body text-body-sm text-left">
            {useCases[1].description}
          </p>
        </div>
        <img class="w-16 h-16" src={useCases[1].image} />
      </div>
    </div>
    <div
      class="row-span-1 md:col-span-2 hover:shadow-xl transition-all duration-200 shadow-input bg-shadow-blockchain justify-between flex flex-col border-b-8 border-cryptowave-sky rounded-lg p-8"
    >
      <div class="justify-between items-start gap-2 flex flex-row">
        <div class="flex-col justify-start items-start gap-2 inline-flex">
          <h3 class="text-crypto-frost font-title text-h5 text-left">
            {useCases[2].title}
          </h3>
          <p class="text-cryptowave-sky font-body text-body-sm text-left">
            {useCases[2].description}
          </p>
        </div>
        <img class="w-16 h-16" src={useCases[2].image} />
      </div>
    </div>
    <div
      class="row-span-1 md:col-span-3 hover:shadow-xl transition-all duration-200 shadow-input bg-shadow-blockchain justify-between flex flex-col border-b-8 border-cryptowave-sky rounded-lg p-8"
    >
      <div class="justify-between items-start gap-4 md:gap-8 flex flex-row">
        <div class="flex-col justify-start items-start gap-2 inline-flex">
          <h3 class="text-crypto-frost font-title text-h5 text-left">
            {useCases[3].title}
          </h3>
          <p class="text-cryptowave-sky font-body text-body-sm text-left">
            {useCases[3].description}
          </p>
        </div>
        <img class="w-16 h-16 md:w-24 md:h-24" src={useCases[3].image} />
      </div>
    </div>
  </div>
</section>
